<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Events</title>
</head>
<body>
    <h1>Events</h1>
    <table>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Code</th>
            <th>Actions</th>
        </tr>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.startDate}"></td>
            <td th:text="${event.endDate}"></td>
            <td th:text="${event.publicFormLink}"></td>
            <td>
                <a th:href="@{|/events/edit/${event.id}|}">Edit</a>
                <a th:href="@{|/events/delete/${event.id}|}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/events/new">Create New Event</a>
</body>
</html>
