<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registro Cliente</title>
  <style>
	body {
		color: #333;
		font-family: "Poppins", sans-serif;
	}
    .header {
        padding: 10px;
        text-align: center;
    }
    .content {
        padding: 20px;
    }
    .footer {
        background-color: #f2f2f2;
        padding: 10px;
        text-align: center;
    }
  </style>
</head>
<body>
  <div class="header">
    <img src="cid:logoImage" alt="Logo">
  </div>
  <div class="content">
    <p class="header">
      ¡Felicidades, tu inscripción se ha completado con éxito!
    </p>
    <p>
       Te confirmamos que tu inscripción para el evento <span th:text="${eventName}"></span> ha sido procesada correctamente.
    </p>
    <p>
       Adjunto a este correo encontrarás una imagen con tu código QR, el cual deberás presentar el día del evento para poder ingresar.
    </p>
    <p>
      <img src="https://fonts.gstatic.com/s/e/notoemoji/16.0/1f4cc/32.png" alt="📌" style="width: 16px; vertical-align: middle;"> Importante:
    </p>
    <p>
      Este QR es único e intransferible. Te recomendamos guardar este correo o descargar la imagen del QR en tu dispositivo
      móvil. No lo compartas con terceros.
    </p>
    <br>
    <p>
      <span style="font-weight: bold; font-size: 15px;">Detalles del evento</span>:
    </p>
    <p>
      Asistente: <span th:text="${name} + ', ' + ${lastName}"></span>
      <br/>
      Nombre: <span th:text="${eventName}"></span>
      <br/>
      Fecha inicio: <span th:text="${eventStartDate}"></span>
      <br/>
      Fecha finalización: <span th:text="${eventEndDate}"></span>
    </p>
    <br>
    <p th:if="${mailContact}">
      Si necesitas más información, puedes contactarnos en: <span th:text="${mailContact}"></span>
      <br/>
    </p>
    <p>
      Muchas gracias. <br/>
    </p>
    <p>
      Universidad Nacional de Lanús <br/>
      <a href="https://www.unla.edu.ar/">UNLa Sitio Web</a>
    </p>
    <p>Desarrollado por UNLa Labs Sistemas</p>
  </div>
</body>
</html>