<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registro Cliente</title>
  <style>
        .header {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
        }
        .content {
            padding: 20px;
        }
        .footer {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
        }
  </style>
</head>
<body>
  <div class="header">
    <img src="cid:logoImage" alt="Logo">
  </div>
  <div class="content">
    <p>
      Inscripción correcta, se adjunta QR para mostrar el día de inicio del evento
    </p>
    <br>
    <p>
      <span style="font-weight: bold; font-size: 15px;">Detalles</span>:
    </p>
    <p>
      Nombre: <span th:text="${name}"></span>
      <br/>
      Apellido: <span th:text="${lastName}"></span>
      <br/>
      Evento: <span th:text="${eventName}"></span>
      <br/>
      Fecha inicio: <span th:text="${eventStartDate}"></span>
      <br/>
      Fecha finalziación: <span th:text="${eventEndDate}"></span>
    </p>
    <br>
    <p>
      Muchas gracias. <br/>
    </p>
  </div>
  <div class="footer">
  </div>
</body>
</html>