<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="UNLa labs">
    <title>Eventos UNLa</title>
    <link href="/eventos/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/eventos/css/sb-admin-2.min.css" rel="stylesheet">
	<style>		
		@-webkit-keyframes spinner-border {
		  to {
		    -webkit-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		@keyframes spinner-border {
		  to {
		    -webkit-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		.spinner-border {
		  display: inline-block;
		  width: 2rem;
		  height: 2rem;
		  vertical-align: text-bottom;
		  border: 0.25em solid currentColor;
		  border-right-color: transparent;
		  border-radius: 50%;
		  -webkit-animation: spinner-border .75s linear infinite;
		  animation: spinner-border .75s linear infinite;
		  color: #007bff !important;
          width: 3rem;
          height: 3rem;
          margin: 10px;
		}
        .disabled-button {
          background-color: grey!important;
          cursor: not-allowed!important;
        }
        .spinner-box {
          display: none;
        }
        .spinner-container {
          display: flex;
          align-items: center;
          justify-content: center;
        }
	</style>
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/eventos/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">UNLa eventos</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/eventos/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span th:text="${username}" class="mr-2 d-none d-lg-inline text-gray-600 small" />
                            </a>
                        </li>
                    </ul>
                    <form th:action="@{/logout}" method="post">
						<input class="dropdown-item" style="cursor: pointer"
							type="submit" value="Salir" />
					</form>
                </nav>
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Respuestas</h1>
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
								            <th>Name</th>
							                <th>Last Name</th>
							                <th>Document Number</th>
							                <th>Email</th>
							                <th>QR Code</th>
											<th>Is Welcome Mail Sent</th>
							                <th>Is Present</th>
							                <th>Is Assistance Certify Sent</th>
								        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="response : ${responses}">
							                <td th:text="${response.name}"></td>
							                <td th:text="${response.lastName}"></td>
							                <td th:text="${response.documentNumber}"></td>
							                <td th:text="${response.email}"></td>
							                <td th:text="${response.QRCode}"></td>
											<td th:text="${response.welcomeMailSent}"></td>
                                            <td>
                                                <ul th:each="day : ${assistanceDaysMap[response.id]}">
                                                    <li>
                                                        Día: <span th:text="${#temporals.format(day.eventDay.date, 'dd/MM/yyyy')}"></span>,
                                                        Presente: <span th:text="${day.present ? 'Sí' : 'No'}"></span>
                                                    </li>
                                                </ul>
                                            </td>
							                <td th:text="${response.isAssistanceCertifySent}"></td>
							            </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                            	<a th:href="@{|/responses/export/${eventId}|}">Export to Excel</a>
                            </div>
                            <div>
                            	<a href="/eventos/events">Back to Events</a>
                            </div>
							<div>
								<form class="form" th:action="@{/responses/sendmails}" method="post" onsubmit="showLoading()">
									<input type="hidden" name="event" th:value="${eventId}" />
									<p>
										<b>Si hay mails de bienvenida sin enviar presione </b>
										<button type="submit" id="sendMailsButton">enviar bienvenidas faltantes</button>
									</p>
									<p style="color: green;" th:text="${messageMails}"></p>
									<p style="color: red;" th:text="${messageMailsError}"></p>
								</form>
								<div class="spinner-box" id="loadingSpinner">
						        	<div class="spinner-container">
						            	<div class="spinner-border"></div>
							            <span>Procesando...</span>
							        </div>
						        </div>
							</div>	
							<div>
								<p>
									<b>Si hay registros en un excel externo, se puede importar </b>
									<button id="show-import-from-excel">aquí</button>
									<p style="color: green;" th:text="${messageResponses}"></p>
									<p style="color: red;" th:text="${messageResponsesError}"></p>
								</p>
								<div id="importFromExcelDiv" style="display: none;">
									<form method="POST" th:action="@{/responses/import}" enctype="multipart/form-data">
										<input type="hidden" name="event" th:value="${eventId}" />
										<label for="file">Seleccionar archivo Excel:</label>
									    <input type="file" id="file" name="file" accept=".xlsx">
									    <button type="submit">Procesar y guardar</button>
									</form>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            Copyright &copy; UNLa labs 2024 |
                            <a href="/eventos/sobre-nosotros" style="text-decoration: none;">Sobre nosotros</a>
                        </span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
	<script>
        function showLoading() {
			var button = document.getElementById('sendMailsButton');
            button.disabled = true;
            button.classList.add('disabled-button');
            document.getElementById('loadingSpinner').style.display = 'block';
        }
		
		const importFromExcelDiv = document.getElementById('importFromExcelDiv');
		const showImportFromExcel = () => {
            importFromExcelDiv.style.display = 'block';
	    };
		document.getElementById('show-import-from-excel').addEventListener('click', showImportFromExcel);
	</script>
    <script src="/eventos/vendor/jquery/jquery.min.js"></script>
    <script src="/eventos/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/eventos/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/eventos/js/sb-admin-2.min.js"></script>
    <script src="/eventos/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/eventos/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/eventos/js/demo/datatables-demo.js"></script>
</body>
</html>
