/* Estilos globales y para desktop */
.titulo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.titulo-container img {
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}
.titulo-container h2 {
    margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #ED6E21;
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.form :where(.input-box select, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.form .column {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #ED6E21;
}
.form button.disabled-button {
  background-color: grey !important;
  cursor: not-allowed !important;
}

/* Estilos para móviles */
@media screen and (max-width: 500px) {
  .container {
    padding: 20px;
  }
  .form .column {
    flex-direction: column;
  }
  .form :where(.input-box input, .select-box) {
    font-size: 0.875rem;
  }
  .input-box {
    margin-top: 15px;
  }
  .form button {
    height: 45px;
    font-size: 0.875rem;
  }
  .spinner-box span {
    font-size: 0.875rem;
  }
}
