<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Usuario</title>
</head>
<body>
    <h1>Crear Usuario</h1>
    <form th:action="@{/admin/create}" th:object="${user}" method="post">
        <div>
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" th:field="*{username}" required />
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>
        <div>
            <label for="enabled">Activo:</label>
            <input type="checkbox" id="enabled" th:field="*{enabled}" />
        </div>
        <div>
            <button type="submit">Crear</button>
        </div>
    </form>
    <a th:href="@{/admin}">Volver a la Lista de Usuarios</a>
</body>
</html>
