<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <a th:href="@{/admin/create}">Crear Nuevo Usuario</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre de Usuario</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.username}">Nombre de Usuario</td>
            <td th:text="${user.enabled ? 'Activo' : 'Inactivo'}">Estado</td>
            <td>
                <a th:href="@{/admin/edit/{id}(id=${user.id})}">Editar</a>
                <a th:href="@{/admin/delete/{id}(id=${user.id})}" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">Eliminar</a>
            </td>
        </tr>
    </table>
</body>
</html>
