<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="UNLa labs">
    <title>Eventos UNLa</title>
    <link href="/eventos/css/registro.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <section class="container">
      <header>
		<div class="titulo-container">
			<img src="https://www.unla.edu.ar/images/logo_web.jpg"/>
			<h2 th:text="'Formulario de registro'" />
        </div>
        <div>
			<br/>
            <h3>Error</h3>
			<br/>
            <h3>No se pudo procesar el envío del mail.</h3>
	    </div>
	  </header>
    </section>
  </body>
</html>